@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	height: 100vh;
	width: 100%;
	margin: 0;
	background-color: black;
	color: whitesmoke;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	display: flex;
}

.flexible {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.small-gap {
	gap: 1vh;
}

.medium-gap {
	gap: 2vh;
}

.big-gap {
	gap: 3vh
}

.center1 {
	justify-content: center;
}

.center2 {
	align-content: center;
}

.center3 {
	align-items: center;
}

.panel {
	background-color: black;
	gap: 2vh;
	padding: 2vh;
	width: 15vw;
}

.center-text {
	text-align: center;
}

.title {
	font-size: large;
	font-weight: bold;
}